<%- include('includes/head.ejs') %>
<body>
  <%- include('includes/nav.ejs') %>
  <main class="py-8">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="md:flex md:items-center md:justify-between">
        <div class="flex-1 min-w-0">
          <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">
            Page Not Found
          </h2>
          <div class="mt-1 flex flex-col sm:mt-0 sm:flex-row sm:flex-wrap">
            <div class="mt-2 flex items-center text-sm leading-5 text-gray-500 sm:mr-6">
              ...probably got forced to move to FL
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
<%- include('includes/end.ejs') %>